html,
body {
  font-family: 'Manrope';
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.conteiner {
  max-width: 1360px;
  height: auto;
  padding: 0 40px;
  margin: 0 auto;
}



.burger {
  display: none;
}

.button {
  display: inline-block;
  color: white;
  background: #FF6433;
  padding: 16px 40px;
  border-radius: 12px;
  white-space: nowrap;
  transition: all .3s;
}

.button:hover {
  transform: scale(1.05);
}

/* --------------------------------------------------------------------- */

.header__top-inner {
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin-right: 475px;
}



.header__nav {
  border-right: 0.5px solid gray;
  margin-right: 55px;
}

.header__nav-list {
  display: flex
}

.header__nav-item {
  margin-right: 40px;
}

.header__nav-item:last-child {
  margin-right: 32px;
}

.header__nav-link {
  white-space: nowrap;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  color: #1E1B1B;
  transition: all .3s;
}

.header__nav-link:hover {
  color: #FF6433;
}

/* ---------------------------------------------------------------------- */
.header__fhone {
  display: grid;
  font-style: normal;
  font-weight: 600;
  grid-template-columns: 1fr 125px;
  grid-template-rows: 20px 20px;
  column-gap: 10px;
  transform: translate(-45px, 0);
}

.header__fhone-button {
  grid-row-start: 1;
  grid-row-end: 3;
  justify-items: center;
  line-height: 24px;
  font-style: normal;
  white-space: nowrap;
}

.header__fhone-text {
  color: #939191;
  font-weight: 500;
  transition: all .3s;
  white-space: nowrap;
  align-items: center;
  line-height: 24px;
}

.header__fhone-text:hover {
  color: #FF6433;
}

.header__fhone-number {
  justify-items: center;
  grid-auto-flow: column;
  transition: all .3s;
  white-space: nowrap;
  align-items: center;
  line-height: 24px;

}

.header__fhone-number:hover {
  color: #FF6433;
}

.header__play-btn2 {
  display: inline-block;

}

/* ------------------------------------------- ---------------------------*/
.header__body {
  padding-top: 138px;
}

.header__main {
  display: flex;
  justify-content: space-between;
}

.header__content {
  align-items: center;
  margin-right: 30px;
}

.header__head {
  max-width: 614.4px;
  height: 252px;
  right: 986.6px;
  top: 294px;
}

.h1__header__title {
  margin-top: 96px;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: -0.03em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__play {
  display: inline-flex;
  align-items: center;
  margin-top: 32px;
}

.header__play-btn1 {
  margin-right: 32px;
}




.header__play-btn2 {
  display: inline-flex;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  align-items: center;
  align-content: center;
  margin-right: 0px;
  transition: all .3s;
}

.header__play-btn2 svg {
  margin-right: 8px;
}

.header__play-btn2:hover {
  color: #FF6433;
}

.header__opening {
  display: grid;
  margin-top: 48px;
  align-items: center;
  align-content: center;
  grid-template-columns: 50px 290px;
  grid-template-rows: 1fr 20px;
  row-gap: 8px;
}

.header__img {
  grid-row-start: 1;
  grid-row-end: 3;
}

.header__block1 {
  color: #939191;
}

/* ----------------------------------------------------------------------- */
.header__comment {
  position: relative;
}

.header__comments1 {
  position: absolute;
  display: block;
  top: 81px;
  left: -30px;
  width: 282px;
  height: 102px;
  background-color: white;
  border-radius: 59px;
  transition: all .3s;
}

.header__comments1:hover {
  box-shadow: 0 0 0 20px rgba(225, 225, 225, 0.43);
  transform: scale(1.05);
}

.header__btn24hr {
  display: table;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #5CBA99;
  color: white;
  text-align: center;
  transform: translate(10px, 15px);
}

.header__24hr {
  display: table-cell;
  vertical-align: middle;
  margin-top: 200px;
  font-size: 24px;
  line-height: 36px;
}

.header__QS {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  display: table-cell;
  transform: translate(100px, -37px);
}

.header__comments2 {
  position: absolute;
  top: 460px;
  left: 299px;
  width: 325px;
  height: 102px;
  background-color: white;
  border-radius: 55px;
  transition: all .3s;
}

.header__comments2:hover {
  box-shadow: 0 0 0 20px rgba(225, 225, 225, 0.43);
  transform: scale(1.05);
}

.header__rating {
  display: grid;
  grid-template-columns: 70px 200px;
  grid-template-rows: 20px 50px;
  transform: translate(20px, 25px);
  row-gap: 10px;
}

.header__rating_num {
  color: black;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
}

.header__rating_text {
  grid-row-start: 2;
  grid-row-end: 3;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: black;
  opacity: 0.7;
}

.header__stars {
  grid-row-start: 1;
  grid-row-end: 3;

}

/* ------------------------------------------------------- */

.service {
  margin-top: 104px;
  background-color: #F2F2F2;
}

.service__heading {
  padding-top: 128px;
  width: 100%;
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
}

.service__subtitle {
  width: 154px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #1E1B1B;
  margin-left: 568px;
}

.service__title {
  width: 858px;
  margin-left: 214px;
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #1E1B1B;
}

.service__button {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  /* grid-template-columns: 316px 316px 316px 316px; */
  /* grid-template-rows: 232px 232px; */
  gap: 8px 8px;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin-right: 0px;
}

.service__button1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 310px;
  height: 232px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: #1E1B1B;
  background-color: white;
  /* margin-right: 8px;
  margin-top: 8px; */
  transition: all .5s;
}

.service__button1:hover {
  background-color: #FF6433;
  transform: scale(1.05);
}


.service__transfer {
  text-align: end;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 35px;
  color: #1E1B1B;
  transition: all .5s;
  padding: 48px 0px 128px;
  grid-column-start: 4;

}

.service__img {
  margin-top: 11px;
}

.service__transfer:hover {
  color: #FF6433;
}

/* --------------------------------------------------- */

.Assistant__inner {
  padding-top: 104px;
}

.Assistant__block {
  margin-top: 142px;
  display: flex;
  flex-direction: row;

}

.Assistant__title {
  margin-left: 67px;
  margin-right: 131px;
}

.h2__Assistant__title {
  width: 524px;
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  letter-spacing: -0.03em;
  color: #1E1B1B;
}

.Assistant__subtitles {
  width: 437px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #1E1B1B;
  opacity: 0.6;
  margin-top: 16px;
}


.Assistant__btn {
  margin-top: 32px;
}

.Assistant__points {
  width: 432px;
  display: grid;
  grid-template-areas:
    "Icon Points"
    "sub"
    "Icon Points"
    "sub"
    "Icon Points"
    "sub";
  grid-template-columns: 72px auto;
  grid-template-rows: auto auto auto auto auto auto auto;
  /* grid-template-columns: repeat(auto-fill, mimax(150px,1fr)); */
}

#Assistant__icon {
  grid-area: Icon;
}

#Assistant__point {
  grid-area: Points;
}

#points__sub {
  grid-area: sub;
}

.points__sub {
  width: 340px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #1E1B1B;
  opacity: 0.6;
  padding-left: 60px;
  border-width: 0px 0px 0px 2px;
  border-style: dashed;
  border-color: #FF6433;
  margin-top: 11px;
  margin-left: 36px;
  margin-bottom: 27px;
  grid-column-start: 1;
  grid-column-end: 3;
}

.points__sub:last-child {
  border: none;
}

.Assistant__point {
  padding-left: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.03em;
  color: #1E1B1B;
}

.Assistant__icon {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  font-weight: 800;
  font-size: 40px;
  line-height: 76px;
  letter-spacing: -0.03em;
  color: white;
  background: #661CE7;
}

.Assistant__block2 {
  margin-top: 134px;
  position: relative;
}

.Assistant__photo {
  display: inline-flex;
  width: 502px;
  transform: translate(-300px);
}

.Assistant__query {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #FF6433;
  width: 729px;
  height: 502px;
}

.Assistant__Contact {
  width: 569px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  margin-top: 128px;
  margin-left: 80px;
}

.Assistant__btn2 {
  margin-left: 80px;
  margin-top: 48px;
  background-color: #1E1B1B;
}

.Assistant__row {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;

}

.Assistant__Specifications {
  margin-top: 48px;
  text-align: justify;
  padding-bottom: 48px;
}

.Assistant__row-item span {
  vertical-align: middle;
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #661CE7;
}

.Assistant__row-item {
  margin-right: 186px;
  transition: all .3s;
}

.Assistant__row-item:hover {
  transform: scale(1.05);
}

.Assistant__row-item:last-child {
  margin-right: 0px;
}

.Assistant__txt {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: #1E1B1B;
  opacity: 0.7;
}

.Brands {
  padding-top: 128px;
  background-color: #F2F2F2;
}

.Brands__title {
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #1E1B1B;
  margin-bottom: 31px;
}

.Brands__logoipsum {
  text-align: center;
  opacity: 0.8;
  padding-bottom: 81px;
  transition: all .5s;
}

.Brands__logoipsum:hover {
  transform: scale(1.05);
}

/* ---------------------------------------------------- */

.Blog__inner {
  padding-top: 131px;
  padding-bottom: 136px;
}

.Blog__heading {

  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  letter-spacing: -0.03em;
  color: #1E1B1B;
}



.Blog__button-box {
  display: flex;
  flex-wrap: wrap;
}

.Blog__button {
  margin-right: 30px;
}

.Blog__btn {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.03em;
  background-color: white;
  color: #1E1B1B;
  margin-top: 47px;
  margin-bottom: 46px;
  transition: all .5s;
}

.Blog__button:last-child {
  margin-right: 0;
}

.Blog__btn:hover {
  color: #FF6433;
  transform: scale(1.05);
}

.Blog__list {
  display: grid;
  grid-template: repeat(2, auto) / repeat(3, 1fr);
  gap: 32px;
}

.Blog__list-item {
  transition: all .5s;
}

.Blog__list-item:hover {
  transform: scale(1.05);
}



.Blog__image-box img {
  height: 100%;
  width: 100%;
}

.Blog__link-content {
  padding-top: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
}

.Blog__list-data {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #939191;
  margin-bottom: 16px;
}

.Blog__list-title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.03em;
  color: #1E1B1B;
  margin-bottom: 16px;
}

.Blog__list-text {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #232536;
}

/* -------------------------------------------------------------- */
.Customers {
  background-color: #F2F2F2;
}

.Customers__inner {
  position: relative;
  padding-bottom: 206px;
}

.Customers__heading {
  padding-top: 128px;

  width: 1100px;
}

.Customers__title {
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #1E1B1B;
  padding-left: 186px;
}

.Customers__slider {
  display: flex;
  margin-top: 76px;
}

.Customers__link {
  transition: all .5s;
}

.Customers__link:hover {
  transform: scale(1.05);
}

.Customers__Jonathan {
  background-color: white;
  margin-left: 48px;
}

.Customers__Johnson {
  background-color: white;
  margin-left: 48px;
}

.Customers__block {
  display: grid;
  grid-template-columns: 80px 2fr;
  grid-template-rows: 32px 32px 2fr;
  padding: 72px;
}

.Customers__img {
  grid-row: 1 / 3;
}

.text__slider {
  padding-top: 24px;
  grid-column: 1 / 3;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: #1E1B1B;
}

.Customers__name {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: #1E1B1B;
}

.Customers__city {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #939191;
}

.Customers__slider-arrows {
  padding-left: 490px;
  margin-top: 26px;
  display: flex;
  justify-content: flex-end;
}

.Customers__slider-arrow {
  display: block;
  line-height: 0;
  border-radius: 50%;
  position: relative;
}

.Customers__slider-arrow::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 62px;
  height: 62px;
  background-color: #1E1B1B;
  border-radius: 50%;
  z-index: -1;
  transition: all .3s;
}

.Customers__slider-arrow:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.Customers__slider-arrow:hover path {
  fill: white;
}

.Customers__slider-prev {
  margin-right: 37px;
  z-index: 5;
}

.Customers__slider-next {
  z-index: 5;
}

.Customers__inner-arrow {
  display: flex;
  justify-content: flex-end;
}

.Customers__dots .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.Customers__dots .slick-active button::before {
  background-color: #FF6433;
}

.Customers__dots li {
  margin-right: 15px;
}

.Customers__dots li:last-child {
  margin-right: 0px;
}

.Customers__dots button {
  font-size: 0;
  background-color: transparent;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
}

.Customers__dots button::before {
  content: "";
  height: 4px;
  width: 100%;
  background-color: gray;
}

/* ----------------------------------------------------------- */
.Questions {
  background-color: #E2E6E9;
}

.Questions__heading {
  padding-top: 128px;
}

.Questions__heading {
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #1E1B1B;
}

.Questions__body {
  padding: 86px 191px 128px 193px;
}


.Questions__acc-item {
  background-color: white;
  margin-bottom: 12px;

}

.Questions__acc-link {
  display: block;
  width: 100%;
  padding-bottom: 38px;
}

.Questions__acc-item:last-child {
  margin-bottom: 0px;
}

.Questions__acc-head span {
  display: flex;
  /* position: relative; */
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: #1E1B1B;
  padding: 40px 0px 0px 41px;
}

.Questions__acc-head {
  display: flex;
  justify-content: space-between;
}

.Questions__block {
  position: relative;
  margin: 32px 40px 0px 0px;
  text-align: end;
  width: 51px;
  height: 48px;
  background-color: #FF6433;

}

.Questions__block::before,
.Questions__block::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 16px;
  width: 20px;
  height: 3px;
  background-color: white;
}

.Questions__block::after {
  transform: rotate(0deg);
  transition: all .2s;
}

.Questions__acc-link--active .Questions__block::after {
  transform: rotate(90deg);
}

.Questions__acc-text {
  width: 90%;
  margin-top: 16px;
  padding: 0 154px 0px 41px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  color: #939191;
}

/* ---------------------------------------------------------------------------- */
.Experts__ {
  padding-bottom: 522px;
}

.Experts__heading--title {
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 84px;
  letter-spacing: -0.03em;
  color: #1E1B1B;
  padding-top: 121px;
  width: 490px;
  text-align: start;
  margin-bottom: 48px;
}

.Experts__content {
  margin-right: 141px;
}

.Experts__body {
  display: flex;
  flex-wrap: wrap;
}

.Experts__input {
  width: 624px;
  height: 72px;
  background-color: #F2F2F2;
  border-radius: 2px;
  margin-bottom: 4px;
}

.Experts__input:last-child {
  margin-bottom: 0px;
}

.Experts__input--item {
  background-color: #F2F2F2;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #1E1B1B;
  padding-left: 40px;
  width: 100%;
  height: 100%;
}

::placeholder {
  color: #1E1B1B;
}

.Experts__map {
  width: 100%;
  height: 512px;
  transform: translate(0, 178px);
}

.Experts__list {
  margin-bottom: 48px;
}

.Experts__item-top {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #1E1B1B;
  opacity: 0.7;
}

.Experts__item-link {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: #1E1B1B;
  transition: all .3s;
}

.Experts__item-link:hover {
  color: #FF6433;
}

.Experts__Address {
  margin-bottom: 32px;
}

.Experts__Contact {
  margin-bottom: 32px;
}

.Experts__button {
  margin-top: 48px;
  display: block;
  width: 206px;
  height: 64px;
}

.Experts__photo {
  width: 100%;
}

/* -------------------------------------------------------- */


.footer__top-inner {
  background-color: #1E1B1B;
  color: #FFFFFF;
  opacity: 0.98;
}

.footer__main {
  display: flex;
  padding-bottom: 129px;
}

.footer__heading {
  margin-right: 193px;
}

.footer__title {
  width: 463px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  padding: 128px 0px 64px 0px;
}

.footer__icon {
  display: flex;
}

.footer__icon--link {
  margin-right: 24px;
}

.footer__icon--link:last-child {
  margin-right: 0px;
}

.footer__information {
  padding: 128px 153px 0px 0px;
  width: 60%;
}


.footer__item-top {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  color: #FFFFFF;
  opacity: 0.6;
}

.footer__item-link {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  transition: all .3s;
}

.footer__item-link:hover {
  color: #FF6433;
}


.footer__bottom {
  background-color: #1E1B1B;
  color: #FFFFFF;
  opacity: 1;
}

.footer__bottom-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 64px 0px 66px 0px;
}

.footer__nav {
  margin-top: 7px;
}

.footer__nav-list {
  display: flex;
}

.footer__nav-item {
  margin-right: 40px;
}

.footer__nav-item:last-child {
  margin-right: 206px;
}

.footer__logo {
  margin-right: 288px;
}

.footer__nav-link {
  transition: all .3s;
}

.footer__nav-link:hover {
  color: #FF6433;
}

.footer__finsweet {

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #939191;
}

/* --------------------------- -------------------- */


@media(max-width: 1300px) {
  .service__button {
    /* grid-template-columns: 270px 270px 270px 270px; */
    margin-right: 0px;
  }

  .service__button1 {
    /* width: 270px;
    height: 230px; */
  }

  .header__logo {
    margin-right: 20px;
  }

  .service__span {
    display: none;
  }
  .Experts__information{
    padding-top: 65px;
  }
}

/* ---------------------------------------------------------- */
@media(max-width:1275px) {
  .h1__header__title {
    font-size: 45px;
    max-width: 365px;
  }
}

/* ----------------------------------------------------------- */
@media(max-width:1250px) {
  .Assistant__row-item {
    margin-right: 100px;
  }
}

/* ---------------------------------------------------------- */
@media(max-width:1185px) {
  .service__title {
    margin-left: 120px;
  }

  .service__subtitle {
    margin-left: 470px;
  }
}

/* ---------------------------------------------------------- */
@media(max-width:1150px) {
  .service__button {
    /* grid-template-columns: 230px 230px 230px 230px; */
    margin-right: 0;
  }

  .service__button1 {
    /* width: 230px;
    height: 180px; */
  }

  .h2__Assistant__title {
    width: 450px;
    font-size: 45px;
  }

  .Assistant__title {
    margin-right: 0px;
  }

  .Customers__title {
    width: 700px;
  }
  .footer__main{
    flex-wrap: wrap;
  }
}

/* ------------------------------------------------------------- */
@media(max-width:1017px) {
  .header__humans {
    max-width: 500px;
  }

  .header__comments2 {

    transform: translate(-100px, -50px);
  }

  .h1__header__title {
    font-size: 49px;
  }

  .service__title {
    margin-left: 0px;
  }

  .service__subtitle {
    margin-left: 350px;
  }

  .Questions__body {
    padding-left: 0px;
  }
}

/* ------------------------------------------------------------------- */
@media(max-width:1000px) {
  .service__title {
    font-size: 45px;
  }

  .Assistant__block {
    display: block;
  }

  .Assistant__points {
    margin: 40px 0px 0px 15px;

  }

  .Assistant__row-item {
    margin-right: 50px;
  }
}

/* ---------------------------------------------------------- */
@media(max-width:928px) {
  .header__humans {
    display: none;
  }

  .header__comments2 {
    display: none;
  }

  .header__comments1 {
    display: none;
  }

  .service__button {
    /* grid-template-columns: repeat(auto-fit,minmax(200px,1fr)); */


  }

  .service__button1 {
    /* width: 200px;
    height: 180px; */
  }

  .Assistant__title {
    margin: 0;
    width: 400px;
  }
}

/* ---------------------------------------------------------- */
@media(max-width:927px) {
  .header__body {
    padding: 100px 0px 0px 0px;
  }

  .h1__header__title {
    margin: 0;
  }

  .header__content {
    width: 400px;
    margin-left: 30%;
  }

  .Assistant__row {
    display: block;
  }

  .Assistant__row-item {
    margin: 15px 0px 0px 0px;
  }

  .Customers__slider-arrows {
    padding-left: 40%;
  }
}

/* ---------------------------------------------------------- */
@media(max-width: 840px) {
  .header {
    padding-top: 72px;
  }

  .h1__header__title {
    font-size: 49px;
  }

  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 50;
    background: rgba(0, 0, 0, 0.189);
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
  }

  .overlay--show {
    visibility: visible;
    opacity: 1;
  }

  .burger {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 150;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .3s;
  }

  .burger--follow {
    top: 10px;
    right: 10px;
    box-shadow: 0 1px 5px 1px #1E1B1B;
    background-color: white;
  }

  .burger span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #1E1B1B;
    border-radius: 2px;
    margin: 5px 0;
  }

  .burger::before,
  .burger::after {
    content: "";
    display: block;
    width: 30px;
    height: 4px;
    background-color: #1E1B1B;
    border-radius: 2px;

  }

  .header__top {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    border-radius: 10px;
    z-index: 100;
    width: 200px;
    height: 400px;
    transform: translateX(100%);
    transition: all .3s;
  }

  .header__top--open {
    transform: translateX(0%);
  }

  .header__top-inner {
    flex-direction: column;
    height: 400px;
    justify-content: space-between;
    padding: 75px 0px 0px 0px;
  }

  .header__logo {
    margin: 0;
    padding: 0px 0px 0px 0px;
  }

  .header__nav {
    border: none;
    margin: 0 auto;
    text-align: center;
    padding-left: 45px;
  }

  .header__nav-list {
    flex-direction: column;
  }

  .header__nav-item {
    padding: 0px 30px 15px 30px;
  }

  .header__fhone {
    text-align: end;
    margin: 0;
    padding: 0px 0px 10px 85px;
  }

  .service__heading {
    margin-left: 180px;
    width: 340px;
  }

  .service__title {
    width: 340px;
    margin-left: 0px;
  }

  .service__subtitle {
    width: 340px;
    text-align: center;
    margin-left: 0px;
  }


  .service__button1 {
    margin-left: 10px;
  }

  .Assistant__query {
    width: 70%;
  }

  .Assistant__Contact {
    width: 90%;
    margin-top: 80px;
    margin-left: 40px;
  }

  .Assistant__btn2 {
    margin-left: 40px;
  }
}

/* ---------------------------------------------- */
@media(max-width: 730px) {
  .header__content {
    width: 400px;
    margin-left: 20%;
  }

  .h1__header__title {
    font-size: 49px;
  }


  .Blog__list {
    grid-template: repeat(3, auto) / repeat(2, 1fr);
    gap: 10px;
  }

  .Blog__list-title {
    font-size: 24px;
  }

  .service__heading {
    margin-left: 180px;
    width: 340px;
  }

  .Customers__title {
    padding: 0px;
    width: 700px;
  }

  .Questions__acc-head span {
    font-size: 18px;
  }

  .Questions__acc-item {
    width: 445px;
  }
  .Questions__acc-text{
    width: 420px;
  }
  .Experts__input{
    width: 350px;
  }
  .footer__information{
    padding: 128px 0px 0px 0px;
  }
}

/* ---------------------------------------------------------- */
@media(max-width: 725px) {
  .Customers__title {
    padding-left: 100px;
    width: 500px;
  }
}

/* ---------------------------------------------------------- */
@media(max-width: 705px) {
  .service__heading {
    font-size: 46px;
    margin-left: 50px;
    width: 340px;
  }
  .footer__nav-item {
    width: 72px;
    margin-right: 40px;
}
}

/* ----------------------------------------------------------- */
@media(max-width: 570px) {
  .header__content {
    width: 400px;
    margin-left: 15%;
  }

  .h1__header__title {
    font-size: 48px;
  }

  .Assistant__query {
    top: 50px;
    height: 400px;
  }

  .Assistant__Contact {
    font-size: 30px;
    margin-left: 10px;
  }

  .Assistant__btn2 {
    margin: 90px 0px 0px 10px;
  }

  .Blog__btn {
    margin: 10px;
  }

  .Customers__title {
    padding: 0px;
  }

  .Customers__block {
    padding: 45px;
  }

  .Customers__slider-arrows {
    padding-left: 30%;
  }
  .Experts__heading--title{
    width: 100%;
    font-size: 55px;
  }
  .footer__title{
    width: 300px;
  }
}




/* ---------------------------------------------------------- */
@media(max-width: 520px) {
  .header__content {
    width: 400px;
    margin-left: 10%;
  }

  .h1__header__title {
    font-size: 49px;
  }

  .Customers__title {
    width: 350px;
    font-size: 40px;
  }

  .Customers__slider-arrows {
    padding-left: 10%;
  }
}

/* ---------------------------------------------------------- */
@media(max-width: 490px) {
  .header__content {
    width: 400px;
    margin-left: 5%;
  }

  .h1__header__title {
    font-size: 49px;
  }
  .Questions__acc-item {
    width: 350px;
  }
  .Questions__block{
    margin: 32px 10px 0px 0px;
  }
  .Questions__acc-head span {
    padding-left: 20px;
  }
}

/* ---------------------------------------------------------- */
@media(max-width: 450px) {
  .header__content {
    width: 350px;
    margin: 5%;
  }

  .conteiner {
    padding: 0px 30px 0px 0px;
  }

  .service__heading {
    margin-left: 15px;
  }

  .Assistant__title {
    width: 320px;
    margin-left: 50px;
    text-align: center;
  }

  .h2__Assistant__title {
    width: 100%;
  }

  .Assistant__subtitles {
    width: 100%;
  }

  .Assistant__inner {
    padding-top: 50px;
  }

  .Assistant__point {
    padding-top: 10px;
    font-size: 28px;
  }

  .points__sub {
    padding-left: 30px;
  }
  .footer__nav-list{
    display: none;
  }
  .footer__bottom-inner{
    position: relative;
  }
  .footer__Copy{
    position: absolute;
    top: 100px;
    left: 0px;
  }
}

/* ---------------------------------------------------------- */
@media(max-width: 410px) {
  .header__content {
    width: 350px;
    margin: 1%;
  }

  .conteiner {
    padding: 0px 15px 0px 15px;
  }

  .Assistant__title {
    width: 222px;
  }

  .h2__Assistant__title {
    width: 222px;
  }

  .Assistant__subtitles {
    width: 222px;
  }


  .Assistant__points {
    margin-left: 0;
  }

  .Assistant__point {
    padding: 0;
    font-size: 22px;
  }

  .points__sub {
    width: 240px;
  }

  .Assistant__block {

    margin-top: 70px;
  }

  .Assistant__inner {
    padding: 0;
  }

  .Assistant__btn2 {
    margin: 60px 0px 0px 10px;
  }

  .Blog__list {
    grid-template: repeat(6, auto) / repeat(1, 1fr);
    gap: 10px;
  }

  .Customers__block {
    padding: 25px;
  }

  .Customers__city {
    margin-top: 30px;
  }
}