html, body {
  font-family: 'Manrope';
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.conteiner {
  max-width: 1410px;
  padding: 0 20px;
  margin: 0 auto;
}

.button {
display: inline-block;
color: white;
background: #FF6433;
padding: 16px 40px;
border-radius: 12px;
white-space: nowrap;
}
.button:hover{
  transform: scale(1.05);
}

/* ------------------------------------------- */
.wrapper {}

.header {}

.header__top {}

.conteiner {}

.header__top-inner {
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin-right: 475px;
}

.logo {
}

.header__nav {
  border-right: 0.5px solid gray;
  margin-right: 0px;
}

.header__nav-list {
  display: flex
}

.header__nav-item {
  margin-right: 40px;
}

.header__nav-item:last-child {
  margin-right: 32px;
}

.header__nav-link {
  white-space: nowrap;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  color: #1E1B1B;
  transition: all .3s;
}
.header__nav-link:hover{
  color: #FF6433;
}
/* ------------------------------------------ */
.header__fhone {
  margin-left: 1px;
  display: grid;
  font-style: normal;
  font-weight: 600;
  grid-template-columns:1fr 125px ;
  grid-template-rows: 20px 20px;
  column-gap: 10px;
  transform: translate(-45px,0);
}

.header__fhone-button {
  grid-row-start: 1;
  grid-row-end: 3;
  justify-items: center;
  line-height: 24px;
  font-style: normal;
  white-space: nowrap;
}

img{
  position: relative;
  top: 1px;
}

.header__fhone-text {
  color: #1E1B1B;
  font-weight: 500;
  transition: all .3s;
  white-space: nowrap;
  align-items: center;
  line-height: 24px;
}
.header__fhone-text:hover{
  color: #FF6433;
}

.header__fhone-number {
  justify-items: center;
  grid-auto-flow: column;
  transition: all .3s;
  white-space: nowrap;
  align-items: center;
  line-height: 24px;

}
.header__fhone-number:hover{
  color: #FF6433;
}
.header__play-btn2{
  display: inline-block;
}

.header__body {}