html, body {
  font-family: 'Manrope';
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.conteiner {
  max-width: 1410px;
  height: auto;
  padding: 0 20px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  color: white;
  background: #FF6433;
  padding: 16px 40px;
  border-radius: 12px;
  white-space: nowrap;
  transition: all .3s;
}

.button:hover {
  transform: scale(1.05);
}

/* --------------------------------------------------------------------- */

.header__top-inner {
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin-right: 475px;
}

.logo {}

.header__nav {
  border-right: 0.5px solid gray;
  margin-right: 55px;
}

.header__nav-list {
  display: flex
}

.header__nav-item {
  margin-right: 40px;
}

.header__nav-item:last-child {
  margin-right: 32px;
}

.header__nav-link {
  white-space: nowrap;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  color: #1E1B1B;
  transition: all .3s;
}

.header__nav-link:hover {
  color: #FF6433;
}

/* ---------------------------------------------------------------------- */
.header__fhone {
  display: grid;
  font-style: normal;
  font-weight: 600;
  grid-template-columns: 1fr 125px;
  grid-template-rows: 20px 20px;
  column-gap: 10px;
  transform: translate(-45px, 0);
}

.header__fhone-button {
  grid-row-start: 1;
  grid-row-end: 3;
  justify-items: center;
  line-height: 24px;
  font-style: normal;
  white-space: nowrap;
}

.header__fhone-text {
  color: #939191;
  font-weight: 500;
  transition: all .3s;
  white-space: nowrap;
  align-items: center;
  line-height: 24px;
}

.header__fhone-text:hover {
  color: #FF6433;
}

.header__fhone-number {
  justify-items: center;
  grid-auto-flow: column;
  transition: all .3s;
  white-space: nowrap;
  align-items: center;
  line-height: 24px;

}

.header__fhone-number:hover {
  color: #FF6433;
}

.header__play-btn2 {
  display: inline-block;
}

/* ------------------------------------------- ---------------------------*/
.header__body {
  padding-top: 138px;
}

.conteiner {}

.header__body-inner {}

.header__main {
  display: flex;
  justify-content: space-between;
}

.header__content {
  align-items: center;
  margin-right: 30px;
}

.header__head {
  max-width: 614.4px;
  height: 252px;
  right: 986.6px;
  top: 294px;
}

.h1__header__title {
  margin-top: 96px;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 84px;
  letter-spacing: -0.03em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__play {
  display: inline-flex;
  align-items: center;
  margin-top: 32px;
}

.header__play-btn1 {
  margin-right: 32px;
}


.button {}

.header__play-btn2 {
  display: inline-flex;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  align-items: center;
  align-content: center;
  margin-right: 0px;
  transition: all .3s;
}

.header__play-btn2 svg {
  margin-right: 8px;
}

.header__play-btn2:hover {
  color: #FF6433;
}

.header__opening {
  display: grid;
  margin-top: 48px;
  align-items: center;
  align-content: center;
  grid-template-columns: 50px 290px;
  grid-template-rows: 1fr 20px;
  row-gap: 8px;
}

.header__img {
  grid-row-start: 1;
  grid-row-end: 3;
}

.header__block1 {
  color: #939191;
}

/* ----------------------------------------------------------------------- */
.header__comment {
  position: relative;
}

.header__comments1 {
  position: absolute;
  display: block;
  top: 81px;
  left: -30px;
  width: 282px;
  height: 102px;
  background-color: white;
  border-radius: 59px;
  transition: all .3s;
}

.header__comments1:hover {
  box-shadow: 0 0 0 20px rgba(225, 225, 225, 0.43);
  transform: scale(1.05);
}

.header__btn24hr {
  display: table;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #5CBA99;
  color: white;
  text-align: center;
  transform: translate(10px, 15px);
}

.header__24hr {
  display: table-cell;
  vertical-align: middle;
  margin-top: 200px;
  font-size: 24px;
  line-height: 36px;
}

.header__QS {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  display: table-cell;
  transform: translate(100px, -37px);
}

.header__comments2 {
  position: absolute;
  top: 460px;
  left: 299px;
  width: 325px;
  height: 102px;
  background-color: white;
  border-radius: 55px;
  transition: all .3s;
}

.header__comments2:hover {
  box-shadow: 0 0 0 20px rgba(225, 225, 225, 0.43);
  transform: scale(1.05);
}

.header__rating {
  display: grid;
  grid-template-columns: 70px 200px;
  grid-template-rows: 20px 50px;
  transform: translate(20px, 25px);
  row-gap: 10px;
}

.header__rating_num {
  color: black;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
}

.header__rating_text {
  grid-row-start: 2;
  grid-row-end: 3;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: black;
  opacity: 0.7;
}

.header__stars {
  grid-row-start: 1;
  grid-row-end: 3;

}

/* ------------------------------------------------------- */
.main {}

.service {
  margin-top: 240px;
  background-color: #F2F2F2;
}

.conteiner {}

.service__heading {
  max-width: 858px;
}

.heading {}

.heading__subtitle {
  color: #1E1B1B;
  text-align: center;
  letter-spacing: -0.03em;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

.heading__title {
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #1E1B1B;
}

.service__button {
  display: flex;
  flex-wrap: wrap;
}

.service__button1 {
  width: 316px;
  height: 232px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #1E1B1B;
  background-color: white;
  margin-right: 8px;
  margin-top: 8px;
  transition: all .5s;
}
.service__button1:hover{
  background-color: #FF6433;
  transform: scale(1.05);
}


.service__transfer {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  color: #1E1B1B;
  transition: all .5s;
}
.service__transfer:hover{
  color: #FF6433;
}